{% extends 'base.html' %}
{% block title %} Home {% endblock %}
<script src="https://open.spotify.com/embed-podcast/iframe-api/v1" async></script>
{% block body %}

<body id="homepage-body">
    <div class="container-fluid justify-content-center">
        <div class="row justify-content-center  align-items-center">
          <div class="col-md-12" id="homepage-column">
<form action="/homepage" id="genre-form">
    <p>
        Genre <br>
        <select name="genre_selection" id="genre_selection">
        {% for genre in genres %}
        <option value={{genre}}> {{genre}}</option>
        <!-- will this work????? -->
        {% endfor %}
        </select>
    </p>
    <p>
        <button type="submit" id="get_recommendation_button"> Go!</button>
    </p>

</form>
</div>


<div id="embed-iframe"></div>

<script src="/static/ajaxhomepage.js"></script>
</body>
{% endblock %}
