{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block body %}
<h2> Name of App </h2>

<form action="/homepage" id="genre-form">
    <p>
        Genre <br>
        <select name="genre_selection" id="genre_selection">
        {% for genre in genres %}
        <option value={{genre}}> {{genre}}</option>
        <!-- will this work????? -->
        {% endfor %}
        </select>

    </p>
    <p>
        <button type="submit" id="get_recommendation_button"> Go!</button>
    </p>

</form>
<script src="/static/ajaxhomepage.js"></script>
{% endblock %}
