{% extends 'base.html' %}
{% block title %} Spotify {% endblock %}
<link rel="stylesheet"
href="/static/css/style.css">
  {% block body %}
<div id="spotify-body">
  <div class="container-fluid justify-content-center">
    <div class="row justify-content-center  align-items-center">
      
      <div class="col-md-4" id="spotify-column">
      <form id="connect-spotify">
        <img src="/static/images/spotify_logo.png" id="spotify-logo">
        <br>
        <br>
        <br>
        Mulberry runs in conjunction with Spotify API. For full functionality, please log in with Spotify.
        <br>
        <br>
        <button id="spotify-auth-button" class="btn ptn-promary form-control">Log In With Spotify</button>
      </form>
      </div>
    </div>
  </div>
<script src="/static/ajaxeventhandle.js"></script>
</div>

{% endblock %}