{% extends 'base.html' %}
{% block title %} My Profile {% endblock %}

{% block body %}
<body id="profile-body">
    <div class="container" id="test-container">
            <div class="row justify-content-center" id="profile-row">
                <div class="col-md-12">
                    <h2 id="username-div">Hello, {{session['username']}}!</h2>
                </div>
                    <div class="col-md-3 id=table-column">
                        <div id = "btns">
                        {% for genre_id in user_songs_by_genre_dict %}
                            <button value="{{genre_id}}" id="genre-buttons">{{user_songs_by_genre_dict[genre_id]['genre']}}</button> <br>
                            <ul class="hidden" >
                        {% for song in user_songs_by_genre_dict[genre_id]["song_list"] %}
                            <li>Song: {{song.name}} Artist: {{song.artist}} Album: {{song.album}} Release Date: {{song.release_date}}</li>
                        {% endfor %}
                            </ul>
                        {% endfor %}
                        </div>
                    </div>


                    <div class="col-md-9" id="table-column2">
                        <div id="song-information">
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col-md-3">Song</th>
                                    <th scope="col-md-3">Artist</th>
                                    <th scope="col-md-3">Album</th>
                                    <th scope="col-md-3">Release Date</th>
                                    </tr>
                                </thead>
                                {% for genre_id in user_songs_by_genre_dict %}
                                <tbody class="hidden" id="{{genre_id}}">
                                    {% for song in user_songs_by_genre_dict[genre_id]["song_list"] %}
                                    <tr>
                                    <th scope="row">{{song.name}}</th>
                                    <td>{{song.artist}}</td>
                                    <td>{{song.album}}</td>
                                    {% if song.release_date != None %}
                                        <td>
                                        {{song.release_date.strftime("%m/%d/%Y")}}
                                        </td>{% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
            </div>
        
    </div>
<script src="/static/ajaxuserprofile.js">
</script>
</body>
{% endblock %}